<div class="formcontainer">
<form>
  <div class="form-group">
    <label for="contact-name">Contact Name</label>
    <input type="text" [(ngModel)]="newContact.name" name="blah" class="form-control"  placeholder="Name">
  </div>
  <div class="form-group">
    <label for="contact-email">Email address</label>
    <input type="text" [(ngModel)]="newContact.email"  name="blah" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="contact-phone">Phone Number</label>
    <input type="text" [(ngModel)]="newContact.phoneNumber"  name="blah" class="form-control"  placeholder="Password">
  </div>
  <div class="form-group">
    <label for="contact-image">Image</label>
    <input type="text" name="blah" [(ngModel)]="newContact.image">

  </div>
  <button (click)="addContact()" class="btn btn-default">Submit New Contact</button>
</form>
<div>
<!-- ***********************Took the template below and applied it to the basic form bootstrap template above -->
<!-- <div>
  <label for="contact-name"></label>
  <input type="text" [(ngModel)]="newContact.name">
</div> -->
<!-- <div>
  <label for="contact-email"></label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone"></label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image"></label>
  <input type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button> -->
<!-- **************************************** -->
<div class="contactcontainer container">
  <div class="row">

    <ul>
      <div class="col-sm-4" *ngFor="let oneContact of contacts">

        <li>
          <p>{{oneContact.name}}</p>
          <p>{{oneContact.email}}</p>
          <p>{{oneContact.phoneNumber}}</p>
          <img src={{oneContact.image}}>
        </li>

      </div>
    </ul>

  </div>
</div>
<!-- //********************************************** -->
